* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.inter-font {
  font-family: "Inter", sans-serif;
}
body button:hover {
  transform: translateY(-3px);
  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.35);
  transform: scale(1.06);
}

header,
.featured,
.the-host {
  background-color: #1a0b2e;
}
/* shared style */
.display-flex {
  display: flex;
}
.brand {
  font-size: 3rem;
  color: #ffffff;
  font-weight: 700;
}
.btn {
  background-image: linear-gradient(
    to top right,
    #f7e93f 0%,
    #fb09b4 51%,
    #9100f8 100%
  );
  text-align: center;
  border-radius: 48px;
  padding: 12px 16px;
  border: none;
}
.menu a,
.btn a,
.Listen-btn a,
.sub-btn a {
  text-decoration: none;
  color: #ffffff;
}
.sub-btn a {
  color: #00ff88;
}
.hero-section {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  padding: 16px 0;
}
.hero-section span,
.footer-section span {
  color: transparent;
  background-image: linear-gradient(
    to top right,
    #f7e93f 0%,
    #fb09b4 51%,
    #9100f8 100%
  );
  background-clip: text;
}
.menu {
  font-size: 1rem;
  font-weight: 500;
  gap: 32px;
  list-style: none;
  display: flex;
}
.menu-icon {
  display: none;
  font-size: 28px;
  cursor: pointer;
}
/* error */
.bannar {
  background-image: url("./images/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.bannar-section {
  padding: 101px 0;
}

.banner-content {
  justify-content: center;
  text-align: center;
  color: white;
  position: relative;
}
#new-badge button {
  padding: 8px 16px;
  font-size: 1.12rem;
  font-weight: 600;
  border-radius: 48px;
  border: none;
  color: black;
  background-color: #00ff88;
  box-shadow: 0 2px 20px rgba(0, 255, 136, 1);
  position: absolute;
  top: -40%;
  right: -80%;
  border: none;
}

.sub-btn {
  color: #00ff88;
  border: 1px solid #00ff88;
  background-color: transparent;
  font-size: 1rem;
  padding: 12px;
  border-radius: 48px;
}
.banner-content p {
  padding-top: 8px;
  padding-bottom: 24px;
}

/* images */
.hero-circle img {
  height: 350px;
  width: 350px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.microphone-img {
  width: 116px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.circle-img {
  position: relative;
  margin-bottom: 40px;
}
.about {
  background-color: #1a0b2e;
  padding: 50px 200px;
  padding-bottom: 120px;
}
.about-section hr {
  margin: 80px 0;
  color: #ffffff;
  height: 1px;
}
.about-content {
  text-align: center;
  margin: 0 auto;
}
.about-content h2 {
  margin-bottom: 16px;
  font-weight: 700;
}
.about-content p {
  font-size: 1rem;
  color: #ffffff;
  max-width: 1200px;
  line-height: 2;
  text-align: center;
  margin: 0 auto;
  opacity: 80%;
}
.break {
  display: block;
}
.about-user {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 80px;
  margin: 0 auto;
  text-align: center;
}
.user h2 {
  color: #00ff88;
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 16px;
}
.user p {
  font-size: 1rem;
  color: #ffffff;
  opacity: 80%;
}
.why-choose {
  background-color: #230e3d;
  padding: 120px 200px;
}
.choose-section h2 {
  text-align: center;
  margin-bottom: 40px;
}
.choose-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 30px;
}
.big-wide {
  grid-column: span 1;
  grid-row: span 2;
}
.large-wide {
  grid-column: span 2;
  grid-row: span 1;
}
.small-wide {
  grid-column: span 1;
  grid-row: span 1;
}
.choose-card {
  background-color: #351165;
  border-radius: 40px;
  padding: 40px;
}
.choose-card h4 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 16px 0px;
  color: #ffffff;
}
.choose-card p {
  font-size: 1rem;
  color: #ffffff;
  opacity: 60%;
  line-height: 1.8;
}
.premium-card img {
  margin-top: 67px;
  margin-bottom: 25px;
}
.premium-card p {
  max-width: 300px;
  margin-top: 25px;
}
.featured-container,
.host-container {
  padding: 120px 200px;
  margin: 0 auto;
}
.featured-container h2,
.host-container h2 {
  text-align: center;
  margin-bottom: 40px;
}
.featured-contant {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.featured-card {
  max-width: 380px;
  border-radius: 40px;
  background-color: #250d44;
  padding: 24px;
}
.featured-card h4 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #ffffff;
  max-width: 332px;
}
.featured-card p {
  font-size: 1rem;
  color: #ffffff;
  line-height: 1.8;
  opacity: 60%;
  max-width: 332px;
  margin: 12px 0px;
}
.featured-card h6 {
  font-size: 1rem;
  color: #00ff88;
  line-height: 1.8;
  font-weight: 600;
  max-width: 332px;
}
.watch-time {
  align-items: center;
  gap: 10px;
}
.watch-time img {
  max-width: 20px;
  max-height: 20px;
}
.host-contant {
  background-color: #250d44;
  padding: 40px;
  align-items: center;
  gap: 24px;
  border-radius: 40px;
}
.host-detais h3 {
  font-size: 2rem;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 16px;
  max-width: 896px;
}
.host-detais p {
  font-size: 1rem;
  color: #ffffff;
  line-height: 1.8;
  opacity: 60%;
  max-width: 896px;
  margin-bottom: 16px;
}
.host-link {
  padding: 10px;
  border: 1px solid #533c72;
  border-radius: 100%;
  max-width: 20px;
  max-height: 20px;
  align-items: center;
}
/* error */
footer {
  background-image: url("./images/footer-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}

.footer-section {
  padding: 60px 20px;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
}
.footer-section h2 {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 32px;
}
.footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin-bottom: 32px;
}

.footer-link {
  display: flex;
  align-items: center;
  gap: 12px;
}
.footer-link img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.footer-link h6 {
  font-size: 1rem;
  font-weight: 500;
  color: #ffffff;
  margin: 0;
  opacity: 60%;
}

.footer-section p {
  font-size: 1rem;
  color: #ffffff;
  opacity: 60%;
  margin: 0;
}
@media screen and (max-width: 576px) {
  .brand {
    font-size: 2rem;
    color: #ffffff;
    font-weight: 700;
  }
  .menu,
  .subscribe-btn {
    display: none;
  }
  .menu-icon {
    display: block;
  }
  /* images */
  .hero-circle img {
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
  .microphone-img {
    height: 70px;
  }
  .circle-img {
    position: relative;
  }
  #new-badge button {
    position: absolute;
    top: -75%;
    right: -40%;
  }
  .about {
    padding: 40px 20px;
  }
  .about-section hr {
    margin: 80px 0;
    color: #ffffff;
    height: 1px;
  }
  .about-content {
    text-align: center;
    margin: 0 auto;
    max-width: 400px;
  }
  .about-content h2 {
    font-size: 2rem;
    margin-bottom: 16px;
    font-weight: 700;
  }
  .about-content p {
    font-size: 1rem;
    color: #ffffff;
    opacity: 80%;
    text-align: top;
    text-align: center;
    line-height: 1.5;
  }
  .break {
    display: none;
  }
  .about-user {
    margin-top: 40px;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin: 0 auto;
    text-align: center;
  }
  .user h2 {
    color: #00ff88;
    font-size: 2.5rem;
    font-weight: 900;
    margin-bottom: 16px;
  }
  .user p {
    font-size: 1rem;
    color: #ffffff;
    opacity: 80%;
  }
  .why-choose {
    background-color: #230e3d;
    padding: 40px 20px;
  }
  .choose-section h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 16px;
  }
  .choose-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
  }
  .choose-card {
    padding: 20px;
    justify-content: center;
  }
  .choose-card h4 {
    font-size: 1.37rem;
  }
  .premium-card img {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .premium-card p {
    max-width: 300px;
    margin-top: 25px;
  }
  .featured-container,
  .host-container {
    padding: 20px 20px;
    margin: 0 auto;
  }
  .featured-container h2,
  .host-container h2 {
    font-size: 2rem;
    margin-bottom: 24px;
    margin-top: 16px;
  }
  .featured-contant {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
    justify-items: center;
  }
  .featured-card {
    max-width: 400px;
    padding: 16px;
  }
  .featured-card h4 {
    font-size: 1.25rem;
  }
  .host-contant {
    padding: 24px 20px;
    align-items: center;
    gap: 24px;
    border-radius: 40px;
    flex-direction: column;
    text-align: center;
  }
  .host-detais h3 {
    font-size: 1.5rem;
    max-width: 352px;
  }
  .host-detais p {
    line-height: 1.8;
    opacity: 60%;
    max-width: 352px;
  }
  .host-link {
    padding: 9.5px 10px;
    border: 1px solid #533c72;
    border-radius: 100%;
    max-width: 20px;
    max-height: 20px;
    margin-right: 8px;
    justify-items: center;
  }
  .footer-section h2 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 576px) and (max-width: 992px) {
  .about-user {
    margin-top: 40px;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin: 0 auto;
    text-align: center;
  }
  .choose-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
  }
  .featured-contant {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
  }
  .featured-container h2 {
    font-size: 2.5rem;
    margin-bottom: 24px;
    margin-top: 16px;
  }
  .host-contant {
    padding: 24px 20px;
    align-items: center;
    gap: 24px;
    border-radius: 40px;
    flex-direction: column;
    text-align: center;
  }
}
